@use './breakpoints' as bps;

// Small devices
@mixin sm {
	@media (min-width: #{bps.$screen-sm-min}) {
		@content;
	}
}

// Medium devices
@mixin md {
	@media (min-width: #{bps.$screen-md-min}) {
		@content;
	}
}

// Large devices
@mixin lg {
	@media (min-width: #{bps.$screen-lg-min}) {
		@content;
	}
}

// Extra large devices
@mixin xl {
	@media (min-width: #{bps.$screen-xl-min}) {
		@content;
	}
}

// Custom devices
@mixin rwd($screen) {
	@media (min-width: ($screen+'px')) {
		@content;
	}
}

@mixin linear-gradient-silver {
	background-image: linear-gradient(240deg, #cecece, #999999);
}

@mixin linear-gradient-silver-reverse {
	background-image: linear-gradient(240deg, #999999, #cecece);
}

@mixin linear-gradient-black {
	background-image: linear-gradient(160deg, #020202, #303030);
}

@mixin linear-gradient-black-reverse {
	background-image: linear-gradient(160deg, #303030, #020202);
}

@mixin padded {
	padding-left: 70px;
	padding-right: 70px;
}

@mixin rounded-sm {
	border-radius: 6px;
}

@mixin rounded-md {
	border-radius: 12px;
}

@mixin rounded-lg {
	border-radius: 16px;
}

@mixin shadow-md {
	box-shadow: 0 30px 60px -30px rgba(0, 0, 0, 0.15), 0 50px 100px -20px rgba(23, 41, 64, 0.25);
}
