:root {
	--color-black: #1c1c1c;
	--color-black-dark: #0b0b0b;
	--color-silver: #e9e9e9;
	--color-silver-light: #e9e9e9;
	--color-silver-dark: #999999;
	--color-grey: #898989;
	--color-grey-light: #d9d9d9;
	--font-primary: 'Montserrat', Arial, sans-serif;
	--font-secondary: 'Nova Mono', monospace;
	--linear-gradient-fixed-black: linear-gradient(160deg, #1a1a1a, #000);
}
