:root {
	--color-black: #171717;
	--color-silver: #e9e9e9;
	--color-grey: #898989;
	--color-grey-light: #d9d9d9;
	--font-primary: 'Montserrat', Arial, sans-serif;
	--font-secondary: 'Nova Mono', monospace;
}
