:root {
	--color-bg-primary: var(--color-black);
	--color-bg-primary-dark: var(--color-black-dark);
	--color-bg-secondary: var(--color-silver);
	--color-bg-subtle: var(--color-grey-light);
	--color-bg-paper: var(--color-black);
	/* --color-bg-paper: white; */
	--color-text-primary: var(--color-black);
	--color-text-inverse: var(--color-silver);
	--color-text-contrast: var(--color-silver);
	--color-text-contrast-inverse: var(--color-black);
	--color-text-subtle: var(--color-grey);
}
